h1 {
  font-family: "Major Mono Display", monospace;
}
#name {
  font-family: "Poiret One", cursive;

  font-size: 35px;
}
li {
  font-family: "Poiret One", cursive;
}

/* 
font-family: 'Major Mono Display', monospace;
 font-family: "Cinzel", serif;
font-family: 'Poiret One', cursive; */
/* font-family: "Waiting for the Sunrise", cursive; */
