.parallax-container {
  width: 100%;
}

.parallax {
  height: 150px;
}

h2 {
  font-family: "Poiret One, cursive";
}

#biopic {
  height: 180px;
  width: 150px;
}

#aboutCard {
  height: 320px;
}

#topParallax {
  height: 150px !important;
}

#linkedin,
#github {
  height: 50px;
  width: 50px;

  color: black;
}

h5 {
  font-weight: normal;
}

#visit {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: lighter;
}

.label {
  color: black;
  margin-right: 10px;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#resume {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
